<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

        <link href="../static/favicon.png" rel="icon">

        <link href="../static/styles.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <title>Sentiment Detector</title>

    </head>

    <body style="overflow: hidden">

        <nav class="navbar navbar-expand-md navbar-light bg-light border">
            <a class="navbar-brand" href="/">
                <span class="blue">Comment </span>
                <span class="red">Sentiment </span>
                <span class="yellow">Detector</span>
            </a>
            <a href="https://github.com/billtrn/Comment-Sentiment-Detector" target="_blank">
                <span class="navbar-brand"><i class="fab fa-github black"></i></span>
            </a>
        </nav>

        <main class="container p-5">
            {% block main %}{% endblock %}
        </main>

        <footer class="text-center text-muted" style="position: fixed; bottom: 5%; right: 45%">
            Created by <a href="https://billtrn.com" target="_blank">Bill Tran</a>.
        </footer>

    </body>

</html>
